<% layout('layouts/boilerplate') %>
<body>
     <h1>Edit your Listing</h1>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <input name="listing[title]" type="text" value="<%= listing.title %>">
        <br /><br /><br />
        <textarea name="listing[description]"><%=listing.description%></textarea>
        <br /><br /><br />
        <input name="listing[image]" value="<%= listing.images%>" type="text">
        <br /><br /><br />
        <input name="listing[price]" value="<%=listing.price%>" type="number">
        <br /><br /><br />
        <input name="listing[country]"  value="<%=listing.country%>" type="text">
        <br /><br /><br />
        <input name="listing[location]" value="<%=listing.location%>" type="text">
        <button type="submit">Edit</button>
    </form>
</body>
